<!DOCTYPE html>
<html>
 
  <head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>行走台南</title>

    <link rel="icon" href="./l.png">
    <meta charset="UTF-8">
    <style>
      body,html{
        height: 100%;
        margin: 0;
      }
      #back{
        background-size: cover;
        background-image:url('pic/loginpage/signup/sign_up_background.png');
        background-position: center;
        background-repeat: no-repeat;
        height:100%;
        text-align: center;
      }
      #log_in_line{
        background-image: url('pic/loginpage/signup/log_in_line.png');
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 10vw;
        text-align: left;
      }
      .input_box{
        background-image: url('pic/loginpage/signup/sign_up_frame.png');
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 65vw;
        height: 11vw;
        margin:auto;
        margin-top: 5vw;
        text-align: left;
      }
      .input{
        border: none;
        width: 69%;
        height: 8vw;
        margin-top: -1vw;
        margin-left: 5vw;
        background-color: rgba(171,221,161,0);
        font-size: 3.8vw;
        
      }
      #facebook_button{
        background-image: url('./pic/loginpage/signup/facebook_icon.png');
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;
        width:6%;
        height: 6vw;
        margin:auto;
        margin-top: 2vw;
        background-color: rgba(0%, 0%, 100%, 0);
        border: none;
      }
      #login_button{
        background-image: url('pic/loginpage/signup/login_signup_buttom.png');
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 61%;
        height: 10vw;
        margin:auto;
        margin-top: 5vw;
        background-color: rgba(0%, 0%, 100%, 0);
        border: none;
      }
    </style>

  </head>

  <body>
    <script src="js/id.js"></script>
    <script>
      // This is called with the results from from FB.getLoginStatus().
      function statusChangeCallback(response) {
        console.log('statusChangeCallback');
        console.log(response);
        console.log(response.authResponse);
        // The response object is returned with a status field that lets the
        // app know the current login status of the person.
        // Full docs on the response object can be found in the documentation
        // for FB.getLoginStatus().
        if (response.status === 'connected') {
          // Logged into your app and Facebook.
          console.log(response.authResponse.userID);
          testAPI();
          trytry(response);
        } else if (response.status === 'not_authorized') {
          // The person is logged into Facebook, but not your app.
          document.getElementById('status').innerHTML = 'Please log ' +
            'into this app.';
        } else {
          // The person is not logged into Facebook, so we're not sure if
          // they are logged into this app or not.
          document.getElementById('status').innerHTML = 'Please log ' +
            'into Facebook.';
        }
      }

      // This function is called when someone finishes with the Login
      // Button.  See the onlogin handler attached to it in the sample
      // code below.
      function checkLoginState() {
        FB.getLoginStatus(function(response) {
          statusChangeCallback(response);
        });
      }

      window.fbAsyncInit = function() {
        FB.init({
          appId  : myAppId,
          cookie : true,   // enable cookies to allow the server to access
                          // the session
          version: 'v2.5', // use graph api version 2.5
          xfbml  : true,   // parse social plugins on this page
        });

        // Now that we've initialized the JavaScript SDK, we call
        // FB.getLoginStatus().  This function gets the state of the
        // person visiting this page and can return one of three states to
        // the callback you provide.  They can be:
        //
        // 1. Logged into your app ('connected')
        // 2. Logged into Facebook, but not your app ('not_authorized')
        // 3. Not logged into Facebook and can't tell if they are logged into
        //    your app or not.
        //
        // These three cases are handled in the callback function.

        FB.getLoginStatus(function(response) {
          statusChangeCallback(response);
        });

      };

      // Load the SDK asynchronously
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

      // Here we run a very simple test of the Graph API after login is
      // successful.  See statusChangeCallback() for when this call is made.
      function testAPI() {
        //location.href="https://luffy.ee.ncku.edu.tw/~catpig1630/index.html";  
        
        console.log('Welcome!  Fetching your information.... ');
        FB.api('/me', function(response) {
          console.log('Successful login for: ' + response);
          document.getElementById('status').innerHTML =
            'Thanks for logging in, ' + response.name + '!';
            
        });
      } 
      function trytry(response){
        var secret = "uidd2018Jgroup"
        var default_name = "Hello"
        console.log('ID= ' + response.authResponse.userID);
        $.ajax({
          method: "POST",
          url: "/signup",

          data:{
            username: $(default_name),
            email: $(response.authResponse.uesrID),
            password: $(secret),
          }
        })
      }
        
    </script>






    <div id='back'>
      <div id='log_in_line'>
        <img src='./pic/previous.png' style='width:4%; height:auto; margin-left:10vw;margin-top:1.5vw;'>
      </div>
      
      <img src='./pic/LOGO-01.png' style='width:25%; height:auto; margin:auto;margin-top: 10vw;margin-bottom: 9vw;'>
      <form id="signup" name="signup" method="post" action="/signup">
        {{!-- <label for="email">Email Address</label> --}}
        {{!-- <input class="text" name="email" type="email" /> --}}
        
        {{!-- </form>label for="username">Username</label> --}}
        {{!-- <input name="username" type="text" /> --}}
        {{!-- <label for="lastname">Lastname</label>
        <input name="lastname" type="text" /> --}}
        
        {{!-- <label for="password">Password</label> --}}


        <div class='input_box'>
          <img src='./pic/loginpage/signup/name_icon.png' style='width: auto;height: 6vw;margin-top: 2.5vw;margin-left: 5.5vw;float: left;'><br>
          <input name="username" placeholder="NAME" type="text" class="input"/>
        </div>
            
        <div class='input_box'>
          <img src='./pic/loginpage/signup/email_icon.png' style='width: auto;height: 5vw;margin-top: 3vw;margin-left: 5vw;float: left;'><br>
          <input name="email" type="email" placeholder="EMAIL" class="input"/>
        </div>

        <div class='input_box'>
          <img src='./pic/loginpage/signup/password_icon.png' style='width: auto;height: 7vw;margin-top: 2vw;margin-left: 6vw;float: left;'><br>
          <input name="password" type="password" placeholder="PASSWORD" class="input"/>
        </div>
            
        <img src='./pic/loginpage/signup/OR_LOGIN_WITH_FACEBOOK.png' style='width:70%; height:auto; margin:auto;margin-top: 15vw;'><br>

        {{!--<buttom type="submit">Sign up</buttom>--}}
        <button type="submit" id='facebook_button'></button><br>
        <button type="submit" id='login_button'></button>
        {{!--<input class="btn" type="submit" value="Sign Up" />--}}
        {{!--<buttom type="submit" id='login_buttom' color="#46a3ff"></buttom> --}}

      </form>
      {{!-- <button  id='facebook_button'>facebook_login</button><br>
      <fb:login-button id='facebook_login' scope="public_profile,email" onlogin="checkLoginState();">
      </fb:login-button>
      <div id="status">
      </div> --}}
    </div>
</body>

</html>




